@charset "utf-8";
:root {
    --light-bg-color: linear-gradient(180deg, #afdaec, #8eb1e7);
    --light-btn-color: #5c9cd9; 
    --light-lnb-color: #cde9f5;

    --dark-bg-color: linear-gradient(180deg, #4b4b4b, #e1e1e1);
    --dark-btn-color: #333; 

    --color-black: #444;
    --color-white: #FEFFFF;
}

/* 공통 스타일링 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    list-style: none;
    vertical-align: baseline;
    border-radius: 0.4rem;
    font-family: 'Noto Sans KR', sans-serif;
}

html, body {
    font-size: 62.5%;
}
html{
    height: 100%;
}
body {
    min-height: 100%;

    /* 스크롤 숨기기 */
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: #f3f7f9;

    transition: all .3s linear;
}

#wrap {
    min-height: 100vh;
    background: var(--light-bg-color);
    font-size: 1.6rem;
    color: var(--color-white);

    position: relative;
    overflow: hidden;
    padding: 1.9rem;
}

/* 헤더 */
#header {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 3.6rem;
    line-height: 2rem;
}

/* 다크모드 */
#header-right {
    display: flex;
}
.mode-toggle {
    position: relative;
    width: 4.8rem;
    padding: 0 0.2rem;
    border: 0.14rem solid #fff;
    border-radius: 1.12rem;
    margin-left: 1rem;
    z-index: 2;
}
.mode-toggle-inner {
    display: flex;
    justify-content: space-between;
}
.mode-btn {
    width: 2.04rem;
    height: 2.04rem;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 1rem;
}
.toggle-box {
    width: 1.6rem;
    text-align: center;
    color: #fff291;
    z-index: 1;
    cursor: pointer;
}
.toggle-box:nth-child(2){
    font-size: 1.2rem;
}

/* 버튼 */
.btn {
    width: 18%;
    text-align: center;
    background: var(--light-btn-color);
    font-size: 1.2rem;
    color: var(--color-white);
    cursor: pointer;
}

/* 로그인 화면 */
#login-form {
    text-align: center;
}
#login-form input {
    height: 2.8rem;
    line-height: 2.8rem;
    margin-right: 0.4rem;
    padding: 0 1.2rem;
}
#login-form input:last-child {
    margin-right: 0;
    width: auto;
}

/* 할 일 목록 */
#todo-form {
    width: 100%;
    background: var(--color-white);
    margin: 1.6rem 0 6.4rem;
}
#todo-form input {
    width: 100%;
    padding: 1.2rem;
}
#list {
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 1.6rem;
}

/* 할 일 */
#todo-list li {
    width: 100%;
    margin: 1.2rem 0;
    display: flex;
    justify-content: space-between;
}
#todo-list li span {
    width: 82%;
    background: #fff;
    font-size: 1.4rem;
    color: var(--color-black);
    padding: 0.6rem 1.2rem;
    margin-right: 1.2rem;
}

/* 명언 */
#quote {
    margin: 14.4rem 0 15.2rem;
}
#quote p {
    font-size: 1.2rem;
    text-align: center;
}
#quote p:last-child {
    margin-top: 0.4rem;
}

/* 자바스크립트 */
/* 숨기기 */
.hidden {
    display: none;
}
/* 모달창 */
.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0;
}
.modal-inner {
    width: 32rem;
    height: 14rem;
    background: var(--color-white);
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    font-size: 1.2rem;
    padding-top: 3.2rem;
    text-align: center;
    color: var(--color-black);
}
.modal-inner button {
    width: 90%;
    margin-top: 4rem;
    padding: 0.6rem 0;
    color: var(--color-white);
    background: var(--light-btn-color);
    cursor: pointer;
}
.cancel-modal-btn button {
    display: inline-block;
    width: 44%;
}
.cancel-modal-btn button:nth-child(2) {
    margin-right: 4%;
}

/* 할 일 완료 */
#todo-list li span.finished {
    text-decoration: line-through;
    background: rgba(0, 0, 0, 0.4);
}

/* 스크롤 숨기기 */
body::-webkit-scrollbar {
    scrollbar-width: none; 
    overflow-y: scroll;
}

/* 업데이트 (버전2) */
#header-left {
    display: flex;
}
#header-left>#ham {
    margin-top: 0.06rem;
}
.bi-list {
    position: absolute;
    font-size: 2rem;
    margin: -0.1rem 0.8rem 0 0;
    cursor: pointer;
}
#ham #profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 0;
    background-color: var(--light-lnb-color);
    position: absolute;
    top: 0;
    left: -99rem;
    z-index: 2;
    transition: all .3s linear;
}
#ham #profile.active {
    left: 0;
}
#ham #profile .close-btn {
    font-size: 3.2rem;
    padding: 1.2rem 1.4rem;
    align-self: flex-end;
    cursor: pointer;
}

#ham label {
    color: var(--color-black);
}
#ham label>i {
    cursor: pointer;
    font-size: 1.6rem;
    padding: 0.6rem 0.8rem;
    margin-left: 1.8rem;
    border-radius: 5rem;
    background: var(--color-white);
    position: absolute;
    top: 14.8rem;
    z-index: 1;
}
#ham label>input {
    display: none;
}

#preview {
    background: var(--color-white);
    border: 0.4rem solid var(--color-white);
    border-radius: 5rem;
    margin: 2.8rem 0 2.4rem;
}
#user-name {
    font-size: 1.4rem;
    color: var(--color-black);
    background: var(--color-white);
    width: 9.2rem;
    padding: 0.4rem 0;
    text-align: center;
}
#logout {
    background: var(--light-btn-color);
    border: 0.05rem solid var(--color-white);
    font-size: 1.4rem;
    padding: 1rem 4rem;
    margin-top: 3.6rem;
    cursor: pointer;
}
#logout:hover {
    opacity: 0.85;
}
#del-todos {
    font-size: 1.8rem;
    margin-left: 1.2rem;
    cursor: pointer;
}
#weather {
    margin-left: 2.4rem;
}


/* 반응형 */
@media screen and (min-width: 30rem){
    #wrap {
        width: 48rem;
        margin: auto;
        padding: 2.4rem;
    }
    .bi-list {
        font-size: 3.2rem;
        margin: -0.7rem 0.8rem 0 0;
    }
    #user-name {
        width: 10rem;
    }
    #logout {
        font-size: 1.6rem;
        padding: 1rem 4.4rem;
    }
    #weather {
        margin-left: 4.4rem;
    }
}

@media screen and (min-width: 90rem){
    #wrap {
        width: 68rem;
        padding: 4rem;
    }
    #header {
        font-size: 1.4rem;
    }
    .btn {
        font-size: 1.4rem;
    }
    #weather {
        margin-left: 4.4rem;
    }
    #quote p {
        font-size: 1.4rem;
    }
}